:root {
  --background: #f5f7fb;
  --headerNumber: #ffbd3e;
  --list: #6e74de;
  --addButton: #ff6781;
  --arrows: #c6ced7;
  --arrowColor: #dee8f1;
  --level1: #ffa378;
  --level2: #19b3d8;
}

.main {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;

  background-color: inherit;
}
.box {
  top: 150px;
  position: absolute;
  background-color: inherit;
  transform: scale(1);
}
.headerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  border: 2px dashed rgba(154, 152, 152, 0.584);
  border-radius: 3px;
}

body {
  background-color: var(--background);
}
.arrows {
  position: absolute;
  background-color: var(--arrows);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 30px;
}
.arrows img {
  width: 16px;
  height: 16px;
}
